section.register-form{
    padding: 20px 0;
}

section.register-form div.section-title{
    background-color: white;
    padding: 20px 0;
    text-align: center
}

section.register-form form{
    background-color: white;
    padding: 20px;
}

section.register-form form div.inp-single{
    padding: 0 20px;
}

section.register-form form div.inp-single p{
    font-weight: 500;
    padding-bottom: 10px;
}

section.register-form form div.inp-single input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px 10px;
    outline: none;
    font-size: 16px;
}

section.register-form form div.inp-single select{
    width: 100%;
    border: 1px solid #ccc;
    padding: 14px 10px;
    outline: none;
    font-size: 16px;
}

section.register-form form div.buttons-box{
    text-align: right;
    padding-top: 60px;
    padding-right: 20px;
    width: 100%;
}

section.register-form form div.buttons-box a,
section.register-form form div.buttons-box button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: black;
    border: 0;
    padding: 15px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

section.register-form form div.buttons-box a:hover{
    color: rgb(216, 0, 0);
}

section.register-form form div.buttons-box button{
    background-color: #004666;
    color: white;
    font-size: 16px;
}
section.register-form form div.buttons-box button:hover{
    background-color: #00608d;
}

div.register-infos{
    padding: 100px 20px 40px 20px;
    background-color: white;
}

div.register-info-single p{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
}

div.register-info-single input{
    max-width: 100%;
    width: 100%;
    border: 0;
}

@media screen and (max-width: 1050px){

    div.register-infos{
        padding: 60px 20px 40px 20px;
    }

    div.register-info-single.w25{
        padding-top: 30px;
        width: 50%;
    }

    div.register-info-single p{
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 600px){

    section.register-form form div.inp-single.w20,
    section.register-form form div.inp-single.w40{
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    section.register-form form div.inp-single p,
    section.register-form form div.inp-single p{
        text-align: left;
    }

    section.register-form form div.buttons-box{
        padding-right: 0;
    }

}

@media screen and (max-width: 450px){
    section.register-form div.section-title h2{
        font-size: 20px;
    }

    section.register-form form div.inp-single p{
        font-size: 14px;
        padding-bottom: 10px;
    }

    section.register-form form div.inp-single input{
        padding: 15px 10px;
        font-size: 14px;
    }
    
    section.register-form form div.inp-single select{
        padding: 14px 10px;
        font-size: 14px;
    }

    section.register-form form div.buttons-box{
        text-align: center;
    }

    section.register-form form div.buttons-box button{
        font-size: 14px;
    }

    div.register-info-single.w25{
        padding-top: 30px;
        width: 100%;
        text-align: center;
    }

    div.register-info-single input{
        text-align: center;
    }
}

